{% extends 'base.html' %}
{% block title %}Blog{% endblock title %}

{% block content %}
<h1>Hello World</h1>

{% comment %}

{{ number }}
{{ posts }}
{% endcomment %}

{% comment %} <img src="{% static 'images/background-image.jpg' %}" width=250 /> {% endcomment %}

<a href='{% url 'post-create' %}' class='btn btn-primary'>Create New Post</a>
<ul>
    {# template tag (for loop) #}
    {% for post in posts %}
    <li>
        <a href="{% url 'post-details' post.pk %}">{{ post.title }}</a> &mdash; {{ post.author }}
    </li>
    {% comment %} <li>{{ post.title }} &mdash; {{ post.author.username }}</li> {% endcomment %}
    {% endfor %}
</ul>
{% endblock content %}